fastapi==0.115.0
uvicorn[standard]==0.30.6

python-dotenv==1.0.1
python-multipart==0.0.9
requests==2.32.3
httpx==0.27.2

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4

openai==1.51.0

faiss-cpu==1.13.0
sentence-transformers==3.0.1
transformers==4.44.2
numpy==1.26.4
scikit-learn==1.5.1
torch==2.4.1
scipy==1.15.3

pydantic==2.9.2
pydantic-settings==2.5.2

langdetect==1.0.9
pypdf==5.0.1

twilio==9.3.2